*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #333;
    color:#ddd;
    font-family: "Poppins";
    font-weight: 400;
    text-align: center;
}

.container{
  text-align: center;
}

.title{
    padding:1.75rem
}

.calculator{
    padding:1rem .5rem
}

.calcDisplay{
    margin:1rem;
}

.displayScreen{
    padding:2rem;
    background-color: #ddd;
}

.calcBody{
    border:1px solid #ddd;
    margin:2rem;
    border-radius: .75rem;
    background-color: rgb(133, 110, 81);
}

.calcButtons{
    display:flex;
    margin: 1rem;
}

.calcNumbers{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    flex-basis: 75%;
}

.calcFunctions{
    flex-basis: 25%;
    align-self: center;
    padding:.15rem;
}
.calcNumbers, .calcFunctions{
    margin:1rem;
}

.number, .calcAction, .displayScreen{
    border:1px solid #ddd;
    border-radius: .5rem;
}

.number{
    align-self: center;
    padding: 0.3rem;
    background-color: rgb(65, 35, 35);
    margin:.5rem;
}

.calcAction{
    align-self: center;
    padding: .1rem;
    margin:.3rem;
}

.number:hover, .calcAction:hover{
    background-color: rgb(235, 99, 94);
}